<div>
  <div class="home-image">
    <img src="../../assets/images/kalavantin_2.jpg" />
    <div class="image-text">
      <div class="name">Jainam Sheth</div>
      <hr class="seperater" />
      <p class="desc">Developer by Passion, Traveller by Heart</p>
    </div>
  </div>
  <div class="home-body">
    <article class="article">
      <section>
        <h2 class="sec-head">About Me</h2>
        <div class="sec-body">
          <img src="../../assets/images/about-me-copy.jpg" class="me-img" />
          <div class="about-me-desc">
            <p>
              I’m <strong>Jainam Sheth</strong> and people usually call me
              “Jenni”. I am a passionate Software Engineer who enjoys creating
              things that live on the internet; They can be either websites,
              applications, plugins, APIs, or anything.
            </p>
            <p>
              I strongly believe that a developer should have great composure to
              hark, comprehend, express, recapitulate, story tell, and with
              technical expertise designate an impactful software. My goal is to
              build products that create positive impact on real world.
            </p>
            <p>
              When I am not programming, you can find me discovering a new
              place, clicking elegant food pictures, laying on the couch,
              meditating or dreaming.
            </p>
          </div>
        </div>
      </section>
    </article>
  </div>
</div>
